* { box-sizing: border-box; }

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff8e;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    position: relative;
}

.spinner-sector {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
}

.spinner-text {
    font-size: 2em;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.spinner-sector-red {
    border-top: 15px solid lightcoral;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.spinner-sector-blue {
    border-top: 15px solid lightblue;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
} 

.spinner-sector-green {
    border-top: 15px solid lightgreen;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

@keyframes loading-text {
    0%, 100% { opacity: 1;}
    25%, 75% { opacity: .5;}
    50% { opacity: .1;}
}